##Importing the necessary librarirs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import skew,kurtosis

## Reading the dataset

In [4]:
df=pd.read_csv("data.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

##Information of the dataset
#####1.Gives the information about no of missing values in each feature



#####2.Gives information about the data type

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

## Understanding the domain
#####1.Made a insight and tried to understand features  which are more important and features which are having less impact on Target variable.

#####2.Droppng the columns which are having very less impact on Target variable


#####3.Dropping the columns which are having more than 70% of null values in it.

In [6]:
del_features=['Id','Street','Alley','Utilities','Condition2','RoofMatl','2ndFlrSF','Exterior2nd','MasVnrType','MasVnrArea','ExterCond','BsmtQual','BsmtFinType2','BsmtFinSF2','Heating','LowQualFinSF','BsmtFullBath','BsmtHalfBath','HalfBath','Functional','FireplaceQu','GarageCond','WoodDeckSF','OpenPorchSF','EnclosedPorch','3SsnPorch','ScreenPorch','PoolArea','PoolQC','Fence','MiscFeature','MiscVal']
df.drop(del_features,inplace=True,axis=1)
df

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageFinish,GarageCars,GarageArea,GarageQual,PavedDrive,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Reg,Lvl,Inside,Gtl,CollgCr,Norm,...,RFn,2,548,TA,Y,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Reg,Lvl,FR2,Gtl,Veenker,Feedr,...,RFn,2,460,TA,Y,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,IR1,Lvl,Inside,Gtl,CollgCr,Norm,...,RFn,2,608,TA,Y,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,IR1,Lvl,Corner,Gtl,Crawfor,Norm,...,Unf,3,642,TA,Y,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,IR1,Lvl,FR2,Gtl,NoRidge,Norm,...,RFn,3,836,TA,Y,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Reg,Lvl,Inside,Gtl,Gilbert,Norm,...,RFn,2,460,TA,Y,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Reg,Lvl,Inside,Gtl,NWAmes,Norm,...,Unf,2,500,TA,Y,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Reg,Lvl,Inside,Gtl,Crawfor,Norm,...,RFn,1,252,TA,Y,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Reg,Lvl,Inside,Gtl,NAmes,Norm,...,Unf,1,240,TA,Y,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Reg,Lvl,Inside,Gtl,Edwards,Norm,...,Fin,1,276,TA,Y,6,2008,WD,Normal,147500

##Filling the missing values with MEAN,MODE and with New class

In [56]:
df['BsmtFinSF1'].replace(0,df['BsmtFinSF1'].mean(),inplace=True)
df['BsmtUnfSF'].replace(0,df['BsmtUnfSF'].mean(),inplace=True)
df['TotalBsmtSF'].replace(0,df['TotalBsmtSF'].mean(),inplace=True)

df['BsmtExposure'] = df['BsmtExposure'].fillna(df['BsmtExposure'].mode()[0])
df['GarageType'] = df['GarageType'].fillna(df['GarageType'].mode()[0]) 
df['Electrical'] = df['Electrical'].fillna(df['Electrical'].mode()[0]) 
df['GarageQual'] = df['GarageQual'].fillna(df['GarageQual'].mode()[0])

df['BsmtCond'].replace(np.nan,'No class',inplace=True)
df['BsmtFinType1'].replace(np.nan,'No class',inplace=True)
df['GarageFinish'].replace(np.nan,'No class',inplace=True)

df['LotFrontage'].fillna(df['LotFrontage'].median(),inplace=True)
df['GarageYrBlt'].fillna(df['GarageYrBlt'].median(),inplace=True)

##Printing the columns with object datatype in-order to process Label Encoding

In [57]:
df_object=df.loc[:,df.dtypes==np.object]
df_object.columns

Index(['MSZoning', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'BldgType', 'HouseStyle', 'RoofStyle',
       'Exterior1st', 'ExterQual', 'Foundation', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'GarageType', 'GarageFinish', 'GarageQual', 'PavedDrive', 'SaleType',
       'SaleCondition'],
      dtype='object')

##Label encoding

In [58]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
new_df=df.copy()
new_df[['MSZoning', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'BldgType', 'HouseStyle', 'RoofStyle',
       'Exterior1st', 'ExterQual', 'Foundation', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'GarageType', 'GarageFinish', 'GarageQual', 'PavedDrive', 'SaleType',
       'SaleCondition']]=new_df[['MSZoning', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'BldgType', 'HouseStyle', 'RoofStyle',
       'Exterior1st', 'ExterQual', 'Foundation', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'GarageType', 'GarageFinish', 'GarageQual', 'PavedDrive', 'SaleType',
       'SaleCondition']].apply(label.fit_transform)

In [59]:
new_df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'LotShape',
       'LandContour', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',
       'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'RoofStyle', 'Exterior1st', 'ExterQual', 'Foundation',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtUnfSF',
       'TotalBsmtSF', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       'GrLivArea', 'FullBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Fireplaces', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'PavedDrive',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

##Looking for a features which has strong correlation
#####1.Dropping the features which have strong correlation

In [60]:
def correlation(dataset,threshold):
  col_corr=set()
  corr_matrix=dataset.corr()
  for i in range (len(corr_matrix.columns)):
    for j in range (i):
      if (corr_matrix.iloc[i,j])>=threshold:
        col_name=corr_matrix.columns[i]
        col_corr.add(col_name)
    return col_corr

In [61]:
corr_features=correlation(new_df,0.7)
len(corr_features)

0

In [1]:
corr_features

NameError: name 'corr_features' is not defined

In [63]:

new_df.drop(['1stFlrSF', 'BldgType', 'GarageArea', 'GarageYrBlt','TotRmsAbvGrd'],axis=1,inplace=True)

## Checking Normality of features,If the features are not normally distributed take log of that feature to obtain normality

In [64]:
new_df['MSSubClass']=np.log(new_df['MSSubClass'])
new_df['LotArea']=np.log(new_df['LotArea'])

new_df['OverallCond']=np.log(new_df['OverallCond'])
new_df['BsmtFinSF1']=np.log(new_df['BsmtFinSF1'])
new_df['TotalBsmtSF']=np.log(new_df['TotalBsmtSF'])
new_df['GrLivArea']=np.log(new_df['GrLivArea'])
new_df

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageCars,GarageQual,PavedDrive,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,4.094345,3,65.0,9.041922,3,3,4,0,5,2,...,1,2,2,4,2,2,2008,8,4,208500
1,2.995732,3,80.0,9.169518,3,3,2,0,24,1,...,1,2,2,4,2,5,2007,8,4,181500
2,4.094345,3,68.0,9.328123,0,3,4,0,5,2,...,1,2,2,4,2,9,2008,8,4,223500
3,4.248495,3,60.0,9.164296,0,3,0,0,6,2,...,5,3,3,4,2,2,2006,8,0,140000
4,4.094345,3,84.0,9.565214,0,3,2,0,15,2,...,1,2,3,4,2,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,4.094345,3,62.0,8.976768,3,3,4,0,8,2,...,1,2,2,4,2,8,2007,8,4,175000
1456,2.995732,3,85.0,9.486076,3,3,4,0,14,2,...,1,3,2,4,2,2,2010,8,4,210000
1457,4.248495,3,66.0,9.109636,3,3,4,0,6,2,...,1,2,1,4,2,5,2010,8,4,266500
1458,2.995732,3,68.0,9.181632,3,3,4,0,12,2,...,1,3,1,4,2,4,2010,8,4,142125
1459,2.995732,3,75.0,9.204020,3,3,4,0,7,2,...,1,0,1,4,2,6,2008,8,4,147500

## Removing outliers using Zscore

In [66]:
from  scipy import stats
z=np.abs(stats.zscore(new_df))
z

threshold=4
print(np.where(z>4))

new_dff=new_df[(z<4).all(axis=1)]
new_dff

(array([   5,    8,    8,    9,   17,   19,   29,   30,   39,   47,   48,
         52,   62,   63,   74,   78,   83,   88,   88,   93,   93,   98,
         98,  102,  106,  109,  113,  120,  137,  144,  146,  149,  154,
        165,  166,  173,  178,  179,  181,  184,  185,  187,  188,  197,
        202,  219,  222,  224,  225,  229,  231,  236,  237,  242,  246,
        249,  249,  250,  253,  268,  271,  289,  313,  313,  314,  314,
        323,  329,  330,  335,  335,  342,  345,  375,  375,  378,  379,
        383,  385,  398,  401,  410,  415,  420,  430,  440,  441,  445,
        450,  454,  456,  456,  460,  469,  482,  488,  494,  495,  502,
        505,  505,  516,  520,  529,  531,  533,  537,  542,  550,  557,
        557,  567,  570,  575,  579,  586,  588,  589,  599,  628,  630,
        631,  634,  635,  635,  637,  643,  651,  664,  676,  676,  676,
        677,  689,  691,  693,  699,  701,  703,  705,  706,  706,  711,
        713,  728,  728,  736,  751,  756,  760,  762,  768,  769,  771,
        773,  776,  778,  788,  790,  803,  809,  809,  812,  813,  827,
        828,  836,  843,  848,  872,  885,  886,  894,  897,  898,  907,
        910,  913,  916,  921,  922,  930,  932,  933,  934,  939,  940,
        941,  942,  943,  944,  954,  955,  965,  974,  984,  984,  986,
        996, 1001, 1002, 1002, 1003, 1004, 1011, 1017, 1019, 1022, 1023,
       1024, 1030, 1034, 1046, 1055, 1061, 1062, 1071, 1075, 1080, 1090,
       1095, 1099, 1099, 1107, 1121, 1122, 1125, 1127, 1132, 1140, 1163,
       1163, 1167, 1169, 1178, 1180, 1182, 1182, 1186, 1186, 1209, 1211,
       1216, 1224, 1230, 1230, 1232, 1233, 1235, 1248, 1260, 1264, 1266,
       1270, 1270, 1275, 1279, 1279, 1283, 1292, 1298, 1298, 1298, 1328,
       1332, 1336, 1343, 1350, 1376, 1386, 1387, 1391, 1393, 1396, 1397,
       1399, 1403, 1412, 1413, 1416, 1418, 1430, 1432, 1435, 1443, 1448,
       1450], dtype=int64), array([18, 31, 37, 31, 31, 41, 37,  1, 31, 22, 31,  9, 22,  9, 31, 31, 41,
        1, 12,  1, 31, 37, 41, 31, 37, 41, 41,  7, 31, 31, 37, 37, 37, 31,
       41, 41, 43, 37, 37,  9, 37, 37, 31,  2, 41, 22,  9, 23, 41, 22,  2,
       22,  9, 37, 31,  3,  7, 12, 41, 37,  7,  9,  3,  7, 22, 37, 37, 37,
       31,  3,  7, 31,  9,  7, 12, 12,  9, 37, 22, 12, 22, 41, 22, 31, 41,
       43, 31, 41, 37, 31, 37, 41,  9,  9, 37, 31, 24,  1, 37, 31, 41, 41,
       31, 31,  9, 28, 41,  9, 41,  1, 41, 22, 31, 41, 37,  9,  7,  9, 41,
        7, 37, 22, 31, 30, 31, 31,  9, 37,  9, 12, 31, 37, 37, 22, 43,  7,
       22, 41, 31, 31,  3,  7,  1,  9, 31, 41, 31,  9, 22, 37, 22, 22, 43,
       41, 41, 22, 31, 37, 22, 43, 31, 37,  1, 41, 22,  7, 41, 31, 37, 24,
       41, 31, 31, 31, 43, 37, 31, 31,  1, 31,  9, 22,  9, 22,  2, 41, 31,
        9, 31, 31, 41, 31, 31,  9,  9, 31, 41, 37, 41, 37,  9, 22, 31, 22,
       31, 41, 22, 37, 22, 41, 31, 37, 43, 41,  1, 31,  9, 41, 41, 31, 22,
        9, 41,  2, 22, 41, 37,  2, 37, 41, 31, 37,  9, 43, 37, 18,  2, 43,
       31, 37,  9, 18, 31,  9, 15, 31, 31, 41, 37, 37,  9, 41, 31,  7, 15,
       31,  1, 41, 31, 31,  2, 24, 28, 37, 37, 31, 37, 31, 37,  9, 41, 31,
       31,  7, 37, 37,  9, 31, 41, 31, 41,  9, 37, 41, 37, 37, 31],
      dtype=int64))

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageCars,GarageQual,PavedDrive,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,4.094345,3,65.0,9.041922,3,3,4,0,5,2,...,1,2,2,4,2,2,2008,8,4,208500
1,2.995732,3,80.0,9.169518,3,3,2,0,24,1,...,1,2,2,4,2,5,2007,8,4,181500
2,4.094345,3,68.0,9.328123,0,3,4,0,5,2,...,1,2,2,4,2,9,2008,8,4,223500
3,4.248495,3,60.0,9.164296,0,3,0,0,6,2,...,5,3,3,4,2,2,2006,8,0,140000
4,4.094345,3,84.0,9.565214,0,3,2,0,15,2,...,1,2,3,4,2,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,4.094345,3,62.0,8.976768,3,3,4,0,8,2,...,1,2,2,4,2,8,2007,8,4,175000
1456,2.995732,3,85.0,9.486076,3,3,4,0,14,2,...,1,3,2,4,2,2,2010,8,4,210000
1457,4.248495,3,66.0,9.109636,3,3,4,0,6,2,...,1,2,1,4,2,5,2010,8,4,266500
1458,2.995732,3,68.0,9.181632,3,3,4,0,12,2,...,1,3,1,4,2,4,2010,8,4,142125
1459,2.995732,3,75.0,9.204020,3,3,4,0,7,2,...,1,0,1,4,2,6,2008,8,4,147500

##Feature Scaling

In [67]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
scalar.fit_transform(new_dff)

array([[ 0.48400162, -0.05109947, -0.22374422, ...,  0.31358104,
         0.14056419,  0.356747  ],
       [-1.0910109 , -0.05109947,  0.54465736, ...,  0.31358104,
         0.14056419, -0.01873383],
       [ 0.48400162, -0.05109947, -0.0700639 , ...,  0.31358104,
         0.14056419,  0.56534746],
       ...,
       [ 0.70499792, -0.05109947, -0.17251745, ...,  0.31358104,
         0.14056419,  1.16333544],
       [-1.0910109 , -0.05109947, -0.0700639 , ...,  0.31358104,
         0.14056419, -0.56631003],
       [-1.0910109 , -0.05109947,  0.2885235 , ...,  0.31358104,
         0.14056419, -0.49156153]])

## Splitting the Dependent and Independent variable

In [68]:
x=new_dff.drop(['SalePrice'],axis=1)
y=new_dff['SalePrice']
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1202, dtype: int64

##Splitting the data into Training and Testing set

In [69]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((961, 43), (241, 43), (961,), (241,))

## Applying the model

In [70]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

##Predicting the model

In [71]:
y_pred=model.predict(x_test)

##Checking the accuracy of the model using R2_score AND ADJUSTED R2_SCORE

In [72]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

print('R2_SCORE :',r2_score(y_test,y_pred)*100)
print('ADJUSTED R2_SCORE :',(1 - (1-model.score(x,y))*(len(y)-1)/(len(y)-x.shape[1]-1))*100)

R2_SCORE : 86.65682053591769
ADJUSTED R2_SCORE : 86.09754724598648

##Checking whether the model is overfit or not

In [73]:
print('MODEL ACCURACY IN TRAINING PHASE:',model.score(x_train,y_train)*100)
print('MODEL ACCURACY IN TESTING PHASE:',model.score(x_test,y_test)*100)

MODEL ACCURACY IN TRAINING PHASE: 86.57479941547308
MODEL ACCURACY IN TESTING PHASE: 86.65682053591769

##CONCLUSION

####As our model is having LOW BIAS and LOW VARIANCE our model is not over-fit.

In [74]:
mean_squared_error(y_test,y_pred)

739206791.924906